@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer utilities {
  .backdrop-blur-xs {
    backdrop-filter: blur(2px);
  }

  .bg-gradient-paint {
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: shine 2s linear infinite;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(2) rotate(0deg);
  }
  50% {
    transform: scale(2.2) rotate(180deg);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
